body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Arial", sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex: none;
    margin-right: auto;
}

ul {
    display: flex;    
    /* this removes the dots on the list items*/
    list-style-type: none;
    gap: 16px;
}


a {
    /* this removes the line under the links */
    text-decoration: none;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 40px;
}

.container-one {
    display: flex;
    background-color: #1F2937;
    padding: 5px 100px;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.left-text {
    margin-right: 50px;
}

.title-one {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext-one {
    font-size: 18px;
    color:#e5e7eb;
    max-width: 400px;
}

.button-top, .button-bottom {
    background-color: #3882f6;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.container-two {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5px 100px;
    margin-bottom: 50px;
}

.title-two {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.info-subtext{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    text-align: center;
    flex: auto;
    min-height: 200px;
    padding: 20px 100px;
    /* width: 1000px; */
}
.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 300px;
    flex: auto;
}
.info-text {
    font-size: 18px;
    color:#4f5b6c;
}

img {
    border-radius: 10px;
}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #e5e7eb;
    gap: 10px;
    margin: 0 auto;
}
.quote {
    text-align: start;
    width: 800px;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: 300;
    /* margin: 0 auto; */
}

.author {
    display: flex;
    justify-content: flex-end;
    /* margin: 0 auto; */
    /* text-align: end; */
    width: 600px;
    font-size: 24px;
    font-weight: bold;
}
.container-four {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.sign-call {
    display: flex;
    background-color: #3882f6;
    width: 800px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-radius: 10px;
}

.button-bottom {
    border-width: 1px;
    border-color: white;
}

.title-four, .bottom-text, .footer-text {
    color:#F9FAF8;
}

.title-four {
    font-size: 24px;
    font-weight: bold;
}

.bottom-text {
    font-size: 16px;
}

.footer {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}